@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.quotes {
    
    display: flex;
    flex-direction: column;
    align-items: center;

    &__quotes-container {
        width: 100%;
        border-bottom: 1px solid $medium-pink;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--title {
            @include section-title;
        }

        &--button {
            margin-bottom: 1rem;
            @include curved-top-button
        }
    }
}

