@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comments {
    display: flex;
    flex-direction: column;
    width: 100%;


    &__title {
        @include section-title;
    }

    &__qj-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        margin-top: 0;

        &--label{
            display: flex;
            flex-direction: column;
            color: $dark-gray;
            font-size: .75rem;
            gap: .3125rem;
        }

        &__input {
            background-color: $gray;
            border: none;
            border-radius: .5rem;
            padding: .5rem;

            &--name {
                height: 2rem;
            }

            &--comment {
                height: 7rem;
            }
        }

        &__buttons-container {
            display: flex;
            gap: 1rem;
            justify-content: center;
            border-bottom: 1px solid $medium-pink;
            padding-bottom: 1.5rem;

            @include desktop {
                border-bottom: none;
            }

            &--add {
                @include qj-form-mobile-button;
                color: $dark-turquoise;
            }

            &--cancel {
                @include qj-form-mobile-button;
                color: $medium-pink;
            }
        }
    }
} 

.comments__qj-form__input::placeholder {
    color: $dark-turquoise;
    font-size: .8125rem;
    font-family: 'Source Sans Pro';
}

.comments__qj-form__input:focus {
    outline: none;
    border: .125rem solid $pink;
}

.comments__qj-form__button:hover {
    background-color: $medium-pink;
}