@font-face {
    font-family: 'Source Sans Pro';
    src: url("../../assets/fonts/SourceSansPro-Light.ttf") format("TrueType");
    font-weight: 300;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("../../assets/fonts/SourceSansPro-SemiBoldItalic.ttf") format("TrueType");
    font-weight: 700;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("../../assets/fonts/SourceSansPro-Regular.ttf") format("TrueType");
    font-weight: 400;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("../../assets/fonts/SourceSansPro-SemiBold.ttf") format("TrueType");
    font-weight: 600;
}