


//Turquoises

$light-turquoise: #bbe4e5;
$medium-turquoise: #7cc2c2;
$dark-turquoise: #50a396;

//Pinks

$pink:#B86E7A;
$medium-pink: #d3b2b2;
$light-pink: #e9d1d1;


// Gray scale
$black: #050B10;
$gray: #e2e2e2;
$dark-gray: #868686;
$darkest-gray: #1f1e1e94;
$white: #ffffff;