$white: #ffffff;
$light-blue: #e8f0f8;
$light-turquoise: #bbe4e5;
$medium-turquoise: #7cc2c2;
$dark-turquoise: #50a396;

//Complementary

$pink:#B86E7A;
$medium-pink: #D29F9F;
$black: #050B10;
$gray: #E6E6E6;