@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.breathe4 {
    display: flex;
    justify-content: center;
    align-items: center;
}