@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.main {

    height: 100vh;
    width: 100vw;
    background-image: url("../../assets/images/home-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    

    &__title {
        margin: 0;
        color: $dark-turquoise;
        align-self: center;
        font-size: 4.5rem;
        line-height: 7rem;
        animation: color-change-left-to-right 5s alternate infinite forwards;
        transform: scaleY(1.8);
        text-shadow: .25rem .25rem 1rem $black;
    }

    @keyframes color-change-left-to-right {
        0%{
            color: $dark-turquoise;
        }
        25%{
            color: $medium-turquoise;
        }
        50%{
            color: $light-turquoise;
        }
        75%{
            color: $light-blue;
        }
        100%{
            color: $white;
        }
    }

    &__links-container{
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        

        &--link{
            padding: .5rem;
            text-decoration: none;
            font-size: 1.5rem;
            color: whitesmoke;
            font-weight: 300;
            
        }
    }
}

.main__links-container--link:hover{
    color: $light-blue;
    box-shadow: .25rem .25rem 2rem $black;
    font-weight: 400;
    background-color: $medium-turquoise;
    border-radius: 1.25rem;
    
}