@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.jokes {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
    border-bottom: 1px solid $medium-pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

        &--title {
            @include section-title;
        }

        &--button {
            margin-bottom: 1rem;
            @include curved-top-button
        }
    }
}

