@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;



.breathe3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    

    &__button{
    width:16rem;
    height: 25rem;
    padding: 0;
    position: relative;
    border: none;
    border-radius: .625rem;
    align-self: center;
    animation-name: spin;
    box-shadow: .25rem .25rem .5rem $dark-gray;
    background-color: $darkest-gray;

    .breathe3__button--inhale__play-animation:after{
        position: absolute;
        top: 1rem;
        left:40%;
        font-size: 1rem;
        color: $darkest-gray;
        content: "Inhale";
        animation: text-grow 10s ease-in-out infinite;
    }

    @keyframes text-grow {
        0%{
            content: "Inhale";
            color: $dark-turquoise;
            font-size: 1.3rem;
        }
        25%{
            content: "Inhale";
            color: $dark-turquoise;
            font-size: 1.4rem;
        }
        50%{
            content: "Inhale";
            color: $dark-turquoise;
            font-size: 1.5rem;
        }

        51%{
            content: "Exhale";
            color: $dark-turquoise;
            font-size: 1.5rem;
        }

        75%{
            content: "Exhale";
            color: $light-turquoise;
            font-size: 1.4rem;
        }

        100%{
            content: "Exhale";
            color: $light-turquoise;
            font-size: 1.3rem;
        }
    }

    .circle{
        border-radius:100% 100% 0 0;
        position: absolute;
        bottom: 50%;
        left:50%;
        transform:translateX(-50%);
        transform-origin:bottom center;
        
    }



        @for $i from 1 through 16{
            .circle:nth-child(#{$i}){
                $size:0;
                @if($i > 1){
                    $size:1rem * ($i - 1);
                    border:.5rem solid $pink;
                }@else{
                    $size:1rem;
                    background:$pink;
                }
                border-bottom:none;
                border-radius:$size $size 0 0;
                width:$size;
                height: $size / 2 ;
                z-index: 16 - $i;
                animation: circle-#{$i} 10s infinite ease-in-out;
                }

            @keyframes circle-#{$i}{
                0%{transform:translateX(-50%) rotate(0deg);}
                100%{transform:translateX(-50%) rotate(-($i * 360deg));}
            }
        }
    }
}